{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description" content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>Instagram Profile Layout</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href={% static "css/resets.css" %}>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    
        <div style="position:absolute;top:80px;left:50px;">
            <a href="/" style=""><i class="fa fa-home" style="font-size:40px;color:black;"></i></a>
        </div>

        <div class="container" >

            <div class="profile">

                <div class="profile-image">

                    <img src="{{myprofile.img.url}}" alt="Avatar" style="float: left; margin-left: 125px; margin-top: 20px; width: 200px; height: 200px; border-radius: 100%; overflow: hidden;">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{myprofile.user.username}}</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="/settings" class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></a>


                </div>


                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{myprofile.posts}}</span> posts</li>
                        <li><span class="profile-stat-count">{{myprofile.followers}}</span> followers</li>
                        <li><span class="profile-stat-count">{{myprofile.following}}</span> following</li>

                    </ul>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name">{{myprofile.user.username}}</span> {{myprofile.bio}}</p>

                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    <br />

    <main>

        <div class="container" >

            <div class="gallery">
                {%if not posts %}
                <br /><br /><br />
                <h1 style="position:relative;">        No Posts in gallery</h1>
                {%elif posts|length == 1%}
                {%for post in posts%}
                <div class="gallery-item" tabindex="0">

                    <img src="{{post.image.url}}" class="gallery-image" alt="">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.no_comments}}</li>
                            &nbsp;&nbsp;
                            <li class=""><a href="/delete_post/{{post.id}}" style="background: transparent; position: relative; bottom: 30px; left: -70px;"><i class="material-icons" style="color:red;font-size:35px">delete</i></a>
                        </ul>

                    </div>

                </div>
                {%endfor%}
                <div class="gallery-item" tabindex="0">
                </div>
                <div class="gallery-item" tabindex="0">
                </div>
                {%elif posts|length == 2%}
                {%for post in posts%}
                <div class="gallery-item" tabindex="0">

                    <img src="{{post.image.url}}" class="gallery-image" alt="">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.no_comments}}</li>
                            &nbsp;&nbsp;
                            <li class="gallery-item"><a href="/delete_post/{{post.id}}" style="background: transparent; position: relative; bottom: 30px; left: -70px;"><i class="material-icons" style="color:red;font-size:35px">delete</i></a>
                        </ul>

                    </div>

                </div>
                {%endfor%}
                <div class="gallery-item" tabindex="0">
                </div>
                {%else%}
                {%for post in posts%}
                <div class="gallery-item" tabindex="0">

                    <img src="{{post.image.url}}" class="gallery-image" alt="">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.no_comments}}</li>
                            &nbsp;&nbsp;
                            <li class=""><a href="/delete_post/{{post.id}}" style="background: transparent; position: relative; bottom: 30px; left: -70px;"><i class="material-icons" style="color:red;font-size:35px">delete</i></a>
                        </ul>

                    </div>

                </div>
                {%endfor%}
                {%endif%}
            </div>
            <!-- End of gallery -->



        </div>
        <!-- End of container -->

    </main>

</body>
</html>